<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.birdwell.gatherbible</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gatherbible</string>
			</array>
		</dict>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_gather-bible._tcp</string>
		<string>_gather-bible._udp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Gather Bible uses the local network to discover nearby Bible study sessions.</string>
</dict>
</plist>
